/*
 * Copyright (C) 2019 - All Rights Reserved by 
 * filename : imx-fire-lcd5-overlay.dts
 * brief : Device Tree overlay for EBF6ull lcd5' or lcd7' device
 * author : embedfire
 * date : 2019-11-19 
 * version : A001
 */
#include "imx6ul-pinfunc.h"
#include "imx6ull-pinfunc-snvs.h"
#include "dt-bindings/interrupt-controller/irq.h"
#include "dt-bindings/gpio/gpio.h"
/dts-v1/;
/plugin/;

/ {
     compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";

        fragment@0 {
                target = <&lcdif>;
                __overlay__ {
                    pinctrl-names = "default";
                    pinctrl-0 = <&pinctrl_lcdif_dat &pinctrl_lcdif_ctrl>;
                    display = <&display0>;
                    status = "okay";

                	display0: display {
                		bits-per-pixel = <16>;
                		bus-width = <24>;

                		display-timings {
                			native-mode = <&timing1>;

                		timing1: timing1 {
		                        mode_name = "TFT50AB";
		                        clock-frequency = <9000000>;
		                        hactive = <480>;
														vactive = <272>;
														hfront-porch = <8>;
														hback-porch = <2>;
														hsync-len = <41>;
														vback-porch = <4>;
														vfront-porch = <4>;
														vsync-len = <10>;

														hsync-active = <0>;
														vsync-active = <0>;
														de-active = <1>;
														pixelclk-active = <0>;
                			};
                		};
                	};
                };
            };
        fragment@1 {
            target = <&i2c1>;
            __overlay__ { 
                clock-frequency = <100000>;
                pinctrl-names = "default";
                pinctrl-0 = <&pinctrl_i2c1>;
                status = "okay";
                gtxx_tsc@5d {
                	compatible = "fire,gtxx_tsc";
                	pinctrl-0 = <&pinctrl_tsc_reset>;
                	pinctrl-1 = <&pinctrl_tsc_irq>;
                	reg = <0x5d>;
                	status = "okay";
                	/*gpio*/
                	reset-gpios = <&gpio3 4 GPIO_ACTIVE_LOW>;
                	irq-gpios = <&gpio5 9 GPIO_ACTIVE_HIGH>;
                	/*中断*/
                	interrupt-parent = <&gpio5>;
                	interrupts = <9 IRQ_TYPE_EDGE_FALLING>;
                	irq-flags = <2>;		/*1:rising 2: falling*/	
                };    
            };
        };
        fragment@2 {
                target = <&iomuxc>;
                __overlay__ {
                    pinctrl_lcdif_ctrl: lcdifctrlgrp {
                        fsl,pins = <
                            MX6UL_PAD_LCD_CLK__LCDIF_CLK	    0x79
                            MX6UL_PAD_LCD_ENABLE__LCDIF_ENABLE  0x79
                            MX6UL_PAD_LCD_HSYNC__LCDIF_HSYNC    0x79
                            MX6UL_PAD_LCD_VSYNC__LCDIF_VSYNC    0x79
                        >;
                    };
                    pinctrl_lcdif_dat: lcdifdatgrp {
                        fsl,pins = <
                            MX6UL_PAD_LCD_DATA00__LCDIF_DATA00  0x79
                            MX6UL_PAD_LCD_DATA01__LCDIF_DATA01  0x79
                            MX6UL_PAD_LCD_DATA02__LCDIF_DATA02  0x79
                            MX6UL_PAD_LCD_DATA03__LCDIF_DATA03  0x79
                            MX6UL_PAD_LCD_DATA04__LCDIF_DATA04  0x79
                            MX6UL_PAD_LCD_DATA05__LCDIF_DATA05  0x79
                            MX6UL_PAD_LCD_DATA06__LCDIF_DATA06  0x79
                            MX6UL_PAD_LCD_DATA07__LCDIF_DATA07  0x79
                            MX6UL_PAD_LCD_DATA08__LCDIF_DATA08  0x79
                            MX6UL_PAD_LCD_DATA09__LCDIF_DATA09  0x79
                            MX6UL_PAD_LCD_DATA10__LCDIF_DATA10  0x79
                            MX6UL_PAD_LCD_DATA11__LCDIF_DATA11  0x79
                            MX6UL_PAD_LCD_DATA12__LCDIF_DATA12  0x79
                            MX6UL_PAD_LCD_DATA13__LCDIF_DATA13  0x79
                            MX6UL_PAD_LCD_DATA14__LCDIF_DATA14  0x79
                            MX6UL_PAD_LCD_DATA15__LCDIF_DATA15  0x79
                            MX6UL_PAD_LCD_DATA16__LCDIF_DATA16  0x79
                            MX6UL_PAD_LCD_DATA17__LCDIF_DATA17  0x79
                            MX6UL_PAD_LCD_DATA18__LCDIF_DATA18  0x79
                            MX6UL_PAD_LCD_DATA19__LCDIF_DATA19  0x79
                            MX6UL_PAD_LCD_DATA20__LCDIF_DATA20  0x79
                            MX6UL_PAD_LCD_DATA21__LCDIF_DATA21  0x79
                            MX6UL_PAD_LCD_DATA22__LCDIF_DATA22  0x79
                            MX6UL_PAD_LCD_DATA23__LCDIF_DATA23  0x79
                        >;
                    };

								pinctrl_pwm1: pwm1grp {
									fsl,pins = <
										MX6UL_PAD_GPIO1_IO08__PWM1_OUT   0x000010B1
									>;
								};
                pinctrl_tsc_reset: tscresetgrp {
                    fsl,pins = <
                        /* used for tsc reset */
                        MX6UL_PAD_LCD_RESET__GPIO3_IO04		0x05
                    >;
                };
            };
        };
        fragment@3 {
            target = <&iomuxc_snvs>;
            __overlay__ {
                pinctrl_tsc_irq: tsc_irq {
                    fsl,pins = <
                        MX6ULL_PAD_SNVS_TAMPER9__GPIO5_IO09        0x4001b8b0
                    >;
                };
            };
        };
	fragment@4 {
		target-path = "/";
		__overlay__ {
			backlight {
				compatible = "pwm-backlight";
				pwms = <&pwm1 0 1000000>;
				brightness-levels = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100>;
				default-brightness-level = <90>;
				status = "okay";
			};			
		};	
	};	
	fragment@5 {
		target=<&pwm1>;
		__overlay__ {
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_pwm1>;
			status = "okay";
		};
	
	};
	
};

